@page "/edit/{id:int}"
@inject IBookRepository Repository
@inject NavigationManager navigation


<pageTitle>
    Edit Book
</pageTitle>
    <div class="row justify-content-center">
        <div class="col-6">
      <BookFrom IsEditMode="true" BookId="@Id" OnvalidBookSubmit="EditBook"/>
        </div>
    </div>

@code {

    [Parameter]
    public int Id { get; set; }
    // [SupplyParameterFromForm]
    // public Book? book{ get; set; }

    // protected override async Task OnInitializedAsync()
    // {
    //     book ??= await Repository.GetByIdAsync(Id);
    // }
    private async Task EditBook(Book book)
    {
       
        
            await Repository.UpdateAsync(book);
            navigation.NavigateTo("/");
        
    }

}
